.trades-list {
    display: grid;
    grid-template-columns: 15% 6% 25% 23% 23%;
    grid-gap: 2%;
    width: 100%;
    justify-items: left;
    cursor: pointer;
    line-height: 25px;
}

.trades-list:hover {
    background-color: var(--main-background-color);
}

.trades-list-header {
    line-height: 40px;
    color: var(--token-selector-table-text-color);
    margin-bottom: 5px;
    font-weight: normal;
    position: sticky;
    top: 0px;
    background: var(--token-selector-background-color);
}

.trades-list-body {
    height: 600px;
    overflow-y: scroll;
}

.trade-date {
    display: block;
}

.trade-address {
    display: block;
}

@media(max-width: 900px) {
    .trade-date {
        display: none;
    }

    .trade-address {
        display: none;
    }

    .trades-list {
        grid-template-columns: 10% 40% 46%;
    }
}
