.loader-default {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    border: 3px solid var(--loader-background-color);
    border-top: 3px solid var(--loader-ticker-color);
}

.loader-inverted {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    border: 3px solid var(--loader-inverted-background-color);
    border-top: 3px solid var(--loader-inverted-ticker-color);
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
