@import "../themeColors/index.css";

.order-book-body {
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 20px;
    height: 476px;
    width: 310px;
}

#order-table-canvas {
    height: 426px;
    width: 310px;
    overflow-y: scroll;
}

.bid {
    color: #3FCCB0;
}

.ask {
    color: var(--invalid-button-background-color);
}

.order {
    line-height: 20px;
}

#orders-separator {
    line-height: 35px;
}

.order-price {
    cursor: pointer;
}

.mid-market-price {
    color: var(--main-text-color);
}

.orders-header {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    background: var(--token-selector-background-color);
    text-align: center;
    height: 50px;
}

.order-book-title {
    line-height: 32px;
}

.order-book-content {
    display: grid;
    grid-template-rows: 10% 90%;
    color: var(--token-selector-table-text-color);
}

.order-book-columns {
    display: grid;
    place-content: center;
    justify-content: center;
    text-align: end;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 2%;
    margin-right: 5%;
}

.order:hover {
    background-color: var(--main-background-color);
}

#orders-separator:hover {
    background-color: var(--main-background-color);
}


@media(min-width: 600px) {

    .order-book-body {
        width: 395px;
        padding: 30px;
    }

    #order-table-canvas {
        height: 406px;
        width: 395px;
    }

}
