
.cancel-order {
    display: grid;
    align-items: center;
    cursor: pointer;
}

.cancel-order img {
    height: 10px;
}

.order-pair {
    display: grid;
    grid-template-columns: 43% 10% 43%;
    grid-gap: 2%;
    align-items: center;
    justify-items: left;
    width: 100%;
}

.order-recipient {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
}

.my-orders {
    width: 100%;
    line-height: 40px;
    border-radius: 5px;
    background-color: var(--item-card-color);
    margin-bottom: 5px;
    cursor: pointer;
}

.selected-order {
    background-color: var(--theme-switch-active-button-background-color);
    color: var(--swap-button-text-color);
}

.my-order-amount {
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    line-height: 25px;
    padding: 5px;
}

.sell-amount {
    color: #CC3F3F;
}

.buy-amount {
    color: #3FCCB0;
}

