
.dashboard {
    display: grid;
    grid-template-columns: auto;
    place-items: stretch;
    place-content: space-evenly;
    column-gap: 15px;
    row-gap: 20px;
}

.dashboard-single {
    display: grid;
    grid-template-columns: auto;
    place-items: stretch;
    place-content: space-evenly;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.order-form {
    display: grid;
    color: var(--token-selector-table-text-color);
    border-radius: 10px;
    background: var(--swap-form-background-color);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 516px;
}

.order-book {
    display: grid;
    color: var(--token-selector-table-text-color);
    border-radius: 10px;
    background: var(--swap-form-background-color);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    width: 350px;
    height: 516px;
}

.order-list{
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    padding: 20px;
    min-height: 255px;
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    width: 310px;
}

.trade-list {
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    padding: 20px;
    min-height: 255px;
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    width: 310px;
}

.staking {
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    padding: 20px;
    min-height: 255px;
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    width: 310px;
    height: 516px;
}

.dashboard #token-selector .tokens {
    height: 400px;
    overflow: auto;
}

@media(min-width: 600px){
    .dashboard {
        grid-template-columns: auto;
        justify-content: center;
        place-items: stretch;
    }

    .order-form {
        width: 455px;
    }

    .order-book {
        width: 455px;
    }

    .order-list {
        width: 415px;
    }

    .trade-list {
        width: 415px;
    }

    .staking {
        width: 415px;
    }

    .dashboard #token-selector .tokens {
        height: 370px;
    }

}

@media(min-width: 1000px){
    .dashboard {
        grid-template-columns: auto auto;
        justify-content: center;
        place-items: stretch;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }

    .trade-list {
        height: 476px;
    }

    .order-list{
        height: 476px;
    }

    .staking {
        height: 476px;
    }

}

@media(min-width: 1460px){
    .dashboard {
        grid-template-columns: auto auto auto;
        justify-content: center;
        place-items: stretch;
    }

    .trade-list {
        height: 476px;
    }

    .order-list{
        height: 476px;
    }

    .staking {
        height: 476px;
    }

}



