
.max-amount {
    display: grid;
    place-content: center;
    cursor: pointer;
    color: var(--theme-switch-active-button-text-color);
    background-color: var(--theme-switch-active-button-background-color);
    border-radius: 3px;
    padding: 7px;
    text-align: center;
    line-height: 20px;
    font-size: x-small;
}

.max-amount-loader {
    display: grid;
    place-content: center;
}
