
.cancel-order {
    display: grid;
    align-items: center;
    cursor: pointer;
}

.cancel-order img {
    height: 10px;
}

.opened-price-switch-button {
    cursor: pointer;
    background-image: var(--price-switch-image);
    background-position: center;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 0.5s;
}

.opened-price-switch-button:active {
    transform: rotate(180deg);
    transition:  0s;
}

.order-pair {
    display: grid;
    grid-template-columns: 43% 10% 43%;
    grid-gap: 2%;
    align-items: center;
    justify-items: left;
    width: 100%;
}

.order-recipient {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
}
