
.cancel-order {
    display: grid;
    align-items: center;
    cursor: pointer;
}

.cancel-order img {
    height: 10px;
}

.order-pair {
    display: grid;
    grid-template-columns: 43% 10% 43%;
    grid-gap: 2%;
    align-items: center;
    justify-items: left;
    width: 100%;
}

.order-recipient {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
}

.my-orders {
    width: 100%;
    line-height: 25px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.my-orders:hover {
    background-color: var(--main-background-color);
}

.selected-order {
    background-color: var(--selected-item-for-cancel-background);
}

.selected-order:hover {
    background-color: var(--selected-item-for-cancel-background);
}
