
.empty-order-list{
    display: grid;
    place-content: center;
    height: 80%;
}

.order-list-title {
    color: var(--token-selector-table-text-color);
    line-height: 32px;
}

.my-orders-header {
    line-height: 40px;
    text-align: left;
    color: var(--token-selector-table-text-color);
    margin-bottom: 5px;
    font-weight: normal;
    position: sticky;
    top: 0;
    background: var(--token-selector-background-color);
}

.my-orders-line {
    display: grid;
    line-height: 40px;
    grid-template-columns: 70% 30%;
}

.my-orders-line .order-book-type-icon svg {
    padding: 5px;
}

.order-list-canvas {
    height: 425px;
    overflow-y: scroll;
}

.order-list-big-screen-column {
    display: none;
}

.order-action-button {
    position: relative;
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    padding: 7px;
    white-space: pre-wrap;
    text-align: center;
    height: 20px;
    background: var(--connect-wallet-button-background);
    color: var(--connect-wallet-button-text-color);
    cursor: pointer;
}

.order-select-check-box {
    display: grid;
    align-items: center;
    justify-items: center;
}

.order-select-check-box input {
    cursor: pointer;
    background-color: var(--main-background-color);
}

.my-orders-header {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 40px;
}

.my-order-volume {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    place-items: center;
}
.my-order-price {
    display: grid;
    place-items: center;
    color: var(--token-selector-table-text-color);
}
.my-order-expiry {
    display: grid;
    place-items: center;
    color: var(--token-selector-table-text-color);
    padding-left: 10px;
    padding-right: 10px;
}
.my-order-fill {
    display: grid;
    place-items: center;
    color: var(--token-selector-table-text-color);
}