@import "../../theme_colors/colors.css";

.order-line {
    margin-top: 25px;
}

.order-line label {
    position: absolute;
    right: 0;
    top: 2px;
}

.order-param-values {
    display: grid;
    grid-template-columns: 50% 50%;
}

.order-param-values .wallet-amount {
    text-align: right;
}

.clickable {
    cursor: pointer;
}

.order-form .button {
    background: var(--inactive-button-background-color);
    width: 100%;
    text-align: center;
    padding-bottom: 10.75px;
    padding-top: 10.75px;
    border-radius: 3px;
}

.order-form .select-message {
    width: 100%;
    text-align: left;
    padding-bottom: 10.75px;
    padding-top: 10.75px;
}

.order-form .order-form-loader {
    padding-left: 45%;
}

.order-buttons {
    display: grid;
    grid-template-columns: auto auto;
    place-content: stretch;
    justify-items: center;
    margin-bottom: 40px;
}

.order-inputs {
    display: grid;
    grid-template-columns: 38% 16% 38%;
    place-content: stretch;
    justify-items: center;
    grid-gap: 4%;
}

.order-info {
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
}

.order-info label {
    position: absolute;
    right: 0;
    top: 0;
}
.order-input {
    position: relative;
}

.exchange-price {
    display: grid;
    grid-template-columns: 90% 8%;
    grid-gap: 2%;
}

#token-selector-box {
    position: absolute;
    top: 20px;
    width: 350px;
    background: var(--swap-form-background-color);
    border-radius: 10px;
    color: var(--token-selector-box-text-color)  ;
}

.order-switch-button-image {
    display: block;
    cursor: pointer;
    background-image: var(--exchange-button-image);
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    padding-top: 10px;
}

.order-switch-button-image:active {
    display: block;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transition:  0s;
    -webkit-transition: 0s;
}

.order-form .active-button {
    background-color: var(--swap-button-background-color);
    color: var(--swap-button-text-color);
}

.price-switch-button {
    display: block;
    cursor: pointer;
    background-image: var(--price-switch-image);
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    position: absolute;
}

.price-switch-button:active {
    position: absolute;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition:  0s;
    -webkit-transition: 0s;
}

.max-amount {
    cursor: pointer;
    background-color: var(--main-background-color);
    border-radius: 20%;
    padding: 2px;
    text-align: center;
}
.max-amount:hover {
    color: var(--theme-switch-active-button-text-color);
    background-color: var(--theme-switch-active-button-background-color);
}

.label-amount {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    grid-gap: 10%;
}

@media(min-width: 600px) {
    #token-selector-box {
        width: 400px;
    }
}
