
.slippage-line{
    display: grid;
    grid-template-columns: 40% 50%;
    grid-gap: 10%;
    align-items: center;
}

.slippage-value{
    display: inline-block;
    margin: 4px 2px;

    background: var(--main-background-color);
    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    text-decoration: none;
    text-align: center;
    font-size: 11px;
    color: var(--token-selector-table-text-color);

    padding: 6px;
    cursor: pointer;
}

.selected-slippage{
    color: var(--theme-switch-active-button-text-color);
    background: var(--theme-switch-active-button-background-color);
}

.slippage-options {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
}