@import "../themeColors/index.css";

html, body {
    display: grid;
    grid-template-rows: auto auto auto;
    background: var(--main-background-color);
    font-family: 'Roboto Mono', monospace;
    color: var(--main-text-color);
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

* {
    font-size: 13px;
}

a {
    text-decoration: none;
}

.header {
   width: 100%;
   height: 50px;
   position: fixed;
   top: 0;
   z-index: 1;
   background-color: var(--swap-form-background-color);
   box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
}

.header-logo {
    margin-left:20px;
    width: 20%;
    display: grid;
    align-content: center;
}

.header-settings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: distribute;
    justify-content: flex-end;
    margin-right: 10px;
    width: 20%;
}

.header-links {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    color: var(--token-selector-table-text-color);
}

.header-links a, .header-links a:hover, .header-links a:visited {
    color: var(--token-selector-table-text-color);
    font-size: 12px;
    margin: 0 5px;
}

.header-links a:hover {
    color: var(--main-text-color);
}

#footer {
    display: none;
}

.social-media-links {
    position: fixed;
    right: 20px;
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
}

.social-media-links a svg path {
    fill: var(--token-selector-table-text-color);
}

.social-media-links a:hover svg path {
    fill: #60FFD9;
}

.dashboard-links {
    position: fixed;
    left: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 30px;
}

@media (max-width: 1000px) {
    .header-links{
        display: none;
    }
    .header-settings{
        width: 50%;
    }
    .header-logo {
        width: 50%;
    }
}

@media (max-width: 1050px) {

    #footer {
        display: block;
    }

    .social-media-links {
        display: none;
    }
    .dashboard-links {
        position: unset;
        place-items: center;
        align-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }
}

#footer .footer-content{
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

#footer .footer-content li a{
    line-height: 25px;
}

#footer a, #footer a:hover, #footer a:visited {
    color: var(--footer-text-color);
    font-size: 12px;
    margin: 0 5px;
}

@media(min-width: 410px){
    body{
        padding-bottom: 50px;
    }

    #footer{
        height: 50px;
    }

    #footer .footer-content{
        text-align: right;
        padding-right: 20px;
    }

    #footer .footer-content li{
        display: inline-block;
    }

    #footer .footer-content li a{
        line-height: 50px;
    }
}

.main-content{
    width: 100%;
    position: relative;
    top: 70px;
    display: grid;
    grid-template-columns: auto;
}

.analytics-link {
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
}

.analytics-link svg path {
    fill: var(--token-selector-table-text-color)
}

#analytics-dashboard {
    display: none;
}

.active-dashboard {
    cursor: unset;
}

.active-dashboard svg path {
    fill: #60FFD9;
}

.unsupported-network {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    text-align: center;
}