@import "../themeColors/index.css";

html, body {
    display: grid;
    grid-template-rows: auto auto auto;
    background: var(--main-background-color);
    font-family: 'Roboto Mono', monospace;
    color: var(--main-text-color);
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

* {
    font-size: 14px;
}

a {
    text-decoration: none;
}

.header {
   width: 100%;
   height: 60px;
   position: fixed;
   top: 0;
   z-index: 1;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex;
   background: var(--main-background-color);
}

.header-logo {
    margin-left:20px;
    width: 20%;
    display: grid;
    align-content: center;
}

.header-logo img {
    cursor: pointer;
}

.header-settings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: distribute;
    justify-content: flex-end;
    margin-right: 10px;
    width: 20%;
}

.header-links {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    color: var(--token-selector-table-text-color);
}

.dashboard-links {
    position: fixed;
    left: 20px;
    display: grid;
    grid-template-rows: auto auto;
    grid-gap: 30px;
}

@media (max-width: 1000px) {
    .header-settings{
        width: 50%;
    }
    .header-logo {
        width: 50%;
    }
}

@media (max-width: 1050px) {
    .dashboard-links {
        position: unset;
        place-items: center;
        align-content: center;
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media(min-width: 410px){
    body{
        padding-bottom: 50px;
    }
}

.main-content{
    width: 100%;
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}

.analytics-link {
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
}

.analytics-link svg path {
    fill: var(--token-selector-table-text-color)
}

#analytics-dashboard {
    display: none;
}

.active-dashboard {
    cursor: unset;
}

.active-dashboard svg path {
    fill: #60FFD9;
}

.unsupported-network {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    justify-items: center;
    text-align: center;
}