

.daily-trade-stat-header {
    line-height: 40px;
    color: var(--token-selector-table-text-color);
    margin-bottom: 5px;
    font-weight: normal;
    position: sticky;
    top: 0;
    background: var(--token-selector-background-color);
}

.daily-trade-stat-body {
    background: var(--token-selector-background-color);
    line-height: 25px;
}

.daily-trade-stat-line {
    display: grid;
    grid-template-columns: 10% 5% 35% 44%;
    grid-gap: 2%;
}

.daily-trade-stat-body:hover {
    background-color: var(--main-background-color);
}

.daily-traders-list {
    height: 425px;
    overflow-y: scroll;
}

.daily-trader-logo {
    border-radius: 3px;
}

.daily-trader-address a {
    display: none;
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
}

@media(min-width: 600px){
    .daily-trader-address a {
        display: block;
    }

    .daily-trade-stat-line {
        grid-template-columns: 10% 25% 25% 34%;
    }
}