
.token-selection {
    margin-right: 10px;
    color: var(--token-selector-table-text-color);
    cursor: pointer;
    display: grid;
    grid-template-columns: 25px auto 100px;
    grid-gap: 20px;
    line-height: 45px;
    align-items: center;
}

.token-selection img {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-collapse: collapse;
}

.token-selection:hover {
    background: var(--token-selector-table-hover-background-color);
}

.token-selection .balance {
    text-align: right;
}

.token-selection .symbol {
    text-align: left;
}
