
.largest-trade-stat-body {
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    line-height: 25px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.largest-trade-stat-line {
    display: grid;
    grid-template-rows: 40px 50px 30px;
    grid-gap: 5px;
}

.largest-trades-list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media(min-width: 1000px) {
    .largest-trades-list {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        grid-gap: 2%;
    }
}

.largest-trader-logo {
    border-radius: 3px;
}

.largest-trader-address a {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-text-color);
}

.largest-trade-title {
    color: var(--token-selector-table-text-color);
    line-height: 40px;
    font-weight: bold;
}

.largest-trader-info {
    display: grid;
    grid-template-columns: 20% 79%;
    grid-gap: 1%;
}

.largest-trade-volume {
    line-height: 40px;
    font-weight: bold;
    font-size: x-large;
}
