<board-selector>

    <div class="board-selectors">
        <div class="slogan">Gas-less limit orders, Any pair</div>
        <div class="sub-slogan">Collect trading fees by holding <b class="token">$METRIC</b></div>
        <div class="board-selector trade-button" onclick={ props.routeToTrade } >TRADE</div>
    </div>

    <script>
        import './index.css'

    </script>

</board-selector>