
.total-trades-stat-body {
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    line-height: 25px;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
    padding: 20px;
}

.total-trades-stat-line {
    display: grid;
    grid-template-rows: 40px 50px 50px;
    grid-gap: 5px;
}

.total-trades-list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

@media(min-width: 1000px) {
    .total-trades-list {
        display: grid;
        grid-template-columns: 49% 49%;
        grid-gap: 2%;
    }
}

.total-trades-title {
    color: var(--token-selector-table-text-color);
    line-height: 40px;
    font-weight: bold;
}

.total-trades-info {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
}

.total-trades-volume {
    line-height: 40px;
    font-weight: bold;
    font-size: x-large;
}
