.analytics-dashboard {
    display: grid;
    grid-template-columns: 350px;
    place-items: stretch;
    place-content: stretch;
    column-gap: 15px;
    row-gap: 20px;
}

.trade-volumes{
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    padding: 20px;
    min-height: 275px;
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.top-daily-trade-volumes{
    background-color: var(--token-selector-background-color);
    border-radius: 10px;
    padding: 20px;
    min-height: 275px;
    font-style: normal;
    font-weight: normal;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.05);
}

.largest-trades{
    font-style: normal;
    font-weight: normal;
}

.total-volumes{
    font-style: normal;
    font-weight: normal;
}

.activity-period {
    color: var(--token-selector-table-text-color);
}

@media(min-width: 1000px) {
    .analytics-dashboard {
        grid-template-columns: 450px 450px;
        grid-gap: 30px;
        grid-template-areas:
            "activity-period activity-period"
            "total-volumes total-volumes"
            "top-trades top-trades"
            "top-daily-traders top-traders";
    }

    .activity-period {
        grid-area: activity-period;
    }

    .trade-volumes{
        grid-area: top-traders;
    }

    .top-daily-trade-volumes{
        grid-area: top-daily-traders;
    }

    .largest-trades{
        grid-area: top-trades;
    }

    .total-volumes{
        grid-area: total-volumes;
    }
}