<check-box>

    <div class="check-box-container">
        <div class="check-box-unchecked" if={ props.checked === false }></div>
        <div class="check-box-checked" if={ props.checked === true }></div>
    </div>

    <script>
        import './checkbox.css'
    </script>

</check-box>

