
.check-box-container {
    display: grid;
    height: 10px;
    width: 10px;
    background-color: var(--main-background-color);
    border: 1px solid var(--token-selector-border-color);
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 2px;
}

.check-box-unchecked {
    height: 6px;
    width: 6px;
    background-color: var(--main-background-color);
}

.check-box-checked {
    height: 6px;
    width: 6px;
    background-color: var(--theme-switch-active-button-border-color);
    border: 1px solid var(--theme-switch-active-button-border-color);
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}
