
.empty-order-list{
    display: grid;
    place-content: center;
    height: 80%;
}

.order-list-title {
    color: var(--token-selector-table-text-color);
    line-height: 32px;
}

.my-orders-header {
    line-height: 40px;
    text-align: left;
    color: var(--token-selector-table-text-color);
    margin-bottom: 5px;
    font-weight: normal;
    position: sticky;
    top: 0;
    background: var(--token-selector-background-color);
}

.my-orders-line {
    display: grid;
    grid-template-columns: 35% 20% 15% 20% 10%;
    margin-right: 5px;
}

.order-list-canvas {
    height: 190px;
    overflow-y: scroll;
}

.order-list-big-screen-column {
    display: none;
}

.order-action-button {
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    padding: 7px;
    white-space: pre-wrap;
    text-align: center;
    height: 30px;
    background: var(--theme-switch-active-button-background-color);
    color: var(--theme-switch-active-button-text-color);
    cursor: pointer;
    margin-top: 15px;
    width: 30%;
}

.order-select-check-box {
    display: grid;
    align-items: center;
    justify-items: center;
}

.order-select-check-box input {
    cursor: pointer;
    background-color: var(--main-background-color);
}

@media(min-width: 1000px) {
    .order-list-big-screen-column {
        display: unset;
    }
    .my-orders-line {
        grid-template-columns: 20% 13% 13% 13% 13% 13% 12% 3%;
    }
}
