
.empty-order-list{
    display: grid;
    place-content: center;
    height: 80%;
}

.order-list-title {
    color: var(--token-selector-table-text-color);
    line-height: 32px;
}

.my-orders-header {
    line-height: 40px;
    text-align: left;
    color: var(--token-selector-table-text-color);
    margin-bottom: 5px;
    font-weight: normal;
    position: sticky;
    top: 0;
    background: var(--token-selector-background-color);
}

.my-orders-line {
    display: grid;
    grid-template-columns: 35% 25% 20% 20%;
}

.order-list-canvas {
    height: 190px;
    overflow-y: scroll;
    border-top: solid 2px var(--token-selector-border-color);
    border-bottom: solid 2px var(--token-selector-border-color);
}

.order-list-big-screen-column {
    display: none;
}

.order-action-button {
    display: grid;
    background: var(--inactive-button-background-color);
    color: var(--token-selector-table-text-color);
    align-content: center;
    justify-content: center;
    border-radius: 3px;
    padding: 7px;
    white-space: pre-wrap;
    text-align: center;
    height: 30px;
}

.active-order-action-button {
    background: var(--theme-switch-active-button-background-color);
    color: var(--theme-switch-active-button-text-color);
    cursor: pointer;
}

.order-list-actions {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 1%;
    padding-top: 15px;
}

@media(min-width: 1000px) {
    .order-list-big-screen-column {
        display: unset;
    }
    .my-orders-line {
        grid-template-columns: 23% 13% 13% 13% 13% 13% 12%;
    }
}
